@import "bootstrap/scss/functions";
@import "bootstrap/scss/bootstrap";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

$body-color: #fafafa;
$primary-color : #AB886D;
$text-primary: #e4e3ea;
$text-dark: #222222;
